include README.md
include LICENSE
include ChangeLog.md
include Makefile
include bp/*.pyx
include bp/*.pxd

graft bp
graft bp/BitArray

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude *.so
global-exclude *.a
global-exclude *.o
include versioneer.py
include bp/_version.py
